##############################
## Ignore-files             ##
##############################
*.*~
*.org~
*.org_archive
\#*.*\#
*~

 
##############################
## Ignore-folders           ##
##############################

pmu_cms/
python_little/
haskell_detail/

##############################
## empty for now            ##
##############################